@import './common/StyleCommon.scss';

.UserInfo-AllLayout{
  @include AllLayoutStyle;
  padding-bottom: 1000px;

  .UserInfo-AllLayout__center{
    @include LayoutCenterStyle;

    .LeftContainer{
      @include LeftContainerStyle;
    }

    .RightContainer{
      @include RightContainerStyle;

      .infoContainer{
        position: relative;
        top: 3rem;
        margin-left: 3rem;
        height: 90%;

        .info{
          position: relative;
          top: 2rem;

          .infoTag{
            display: flex;

            .infoText{
              position: relative;
              left:2rem;
              font-size: 24px;
              font-weight: 900;
              color:black;
              padding:.5rem 1rem;
              margin-left: 2rem;
            }
          }
          
          .infoBox{
            position: relative;
            margin: 2rem 4rem 0 4rem;
            width: auto;
            height: 30rem;

            .infoList{
              display:flex;
              padding: 1.5rem 1.2rem;
              
              .infoTitle{
                width: 8rem;
                padding-top: 10px;
                text-align: center;
                font-weight: bold;
              }

              .infoItem{
                .infoItemForm{
                  padding: 15px;
                  margin-left: 15px;
                  width:500px;
                  background-color: white;
                  border: solid 1px rgb(221, 221, 221);
                  border-radius: .5rem;
                }
                
                .btn-upload {
                  padding: 15px;
                  margin-left: 15px;
                  width:200px;
                  color:rgb(123, 123, 123);
                  background-color: white;
                  border: solid 1px rgb(221, 221, 221);
                  border-radius: .5rem;
                  cursor: pointer;
                  display: flex;
                  justify-content: center;
                  &:hover {
                    background: rgb(77,77,77);
                    color: #fff;
                  }
                }
                
                #file {
                  display: none;
                }
              }
              
              .infoFix{
                background-color:rgb(53, 197, 240);
                border-radius: .5rem;
                margin-left: 10rem;
                padding: 15px;
                width: 15rem;
                color:white;
                font-weight: 700;
                font-size: 18px;
                cursor: pointer;
                &:hover {
                  background-color:rgb(96, 203, 235);
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }

}

