.wrapper {
  width: 1200px;
  margin: auto;
}
.SearchPage {
  display: flex;
  padding: 40px 0;
  border-bottom: 2px solid #ca9f12;
}

// 책 표지
.SearchPage__Images {
  display: flex;
  justify-content: center;
  width: 270px;

  img {
    height: 200px;
    aspect-ratio: auto;
  }
}

//  상세설명
.SearchPage__Items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 500px;
  gap: 30px;
  h1 {
    font-size: 34px;
    margin-top: 10px;
    width: 70%;
  }

  // 줄거리
  p:nth-child(2) {
    font-size: 19px;
    width: 70%;
    color: #595959;
  }
}
.SearchPage__Price {
  // 판매가
  p:nth-child(1) {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
  }
  // 정가
  p:nth-child(2) {
    color: #808080;
    font-size: 16px;
  }
}

// 구매,대여 공통
.SearchPage__ButtonBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  button {
    border-radius: 5px;
    margin: 8px;
    width: 120px;
    height: 40px;
    color: #fff;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }
}
// 구매버튼
button:first-child {
  background-color: #df307f;
}
// 대여버튼
button:last-child {
  background-color: #e24457;
}
