* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1200px;
  margin: 100px auto 0;
}
a {
  display: block;
  text-decoration: none;
  color: black;
}
// CATEGORY
main {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 100px auto;
  .tag-box {
    width: 300px;
  }
}
.category-menu {
  position: sticky;
  top: 0;
  margin-left: -110px;
  border-radius: 10px;
  padding: 10px;
  height: max-content;
  border: 1px solid;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    transition: background-color 0.3s;
  }
  .active {
    background-color: orange;
    //border-radius: 30px;
  }
}