.books {
  display: flex;
  overflow: hidden;
  margin: 0 15px;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.left {
  background-color: #fed19a;
  width: 180px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  .tag-box {
    padding: 30px 10px;
    color: #555252;
    font-size: 15px;
    text-align: center;
  }
}

.right {
  background-color: #FFF3E2;
  width: 1030px;
  display: flex;
  flex-wrap: wrap;
  height: 918px;
  border-radius: 0 5px 5px 0;
  border-top: 1px solid rgb(219, 218, 218);
  border-bottom: 1px solid rgb(219, 218, 218);
  border-right:1px solid rgb(219, 218, 218);

  .Top-bookContainer{
    position: absolute;
    height: 50px;
    width: 980px;
    z-index: 200;
    margin-left: 10px;
    margin-top: 370px;
  }
  
  .Bottom-bookContainer{
    position: absolute;
    width: 980px;
    margin-left: 10px;
    margin-top: 827px;
    height: 50px;
  }
  
  .book {
    position: relative;
    padding: 0 10px;
    margin: 30px 0;

    img {
      border-radius: 10px;
      width: 100%;
      height: 230px;
      position: relative;
      top: 80px;
    }
  }

  h4 {
    margin: 10px 0;
  }
}

.hover-description {
  position: absolute;
  padding: 5%;
  width: calc(100% - 20px);
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  //background-color: rgb(255, 239, 228);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  top: 120px;
  z-index: 1;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.discount {
  position: absolute;
  width: fit-content;
  height: 40px;
  line-height: 1.8;
  text-align: center;
  background-color: red;
  color: #fff;
  right: 10%;
  z-index: 200;
  top: 120px;
}

.retail-price {
  text-decoration: line-through;
  color: rgb(122, 122, 122);
  font-size: 0.6rem;
}
