@mixin CartNameStyle {
  height: auto;
  //background-color: rgb(14, 133, 237);
  font-size: 20px;
  position: absolute;
  top: 10px;
}

.RentPageTable{
  width: inherit;
  height: 45px;
  // background-color: #bff12b;
  background-color: #f6e4cc;
  position: absolute;
  
  .Rent-LableBox{
    width: 40px;
    height: 40px;
    //background-color: #e18b8b;
    margin-left: 50px;
    margin-top: 5px;
    position: absolute;
    font-size: 30px;
  }

  .Rental-Namebox{
    @include CartNameStyle;
    left: 300px;
  }

  .Renatal-Price{
    @include CartNameStyle;
    right: 420px;
  }

  .RentDay{
    @include CartNameStyle;
    right: 100px;
  }  
}

.Rental-ItemsContainer {
    width: 1300px;
    top: 50px;
    position: relative;
    //background-color: #d16f14;
    max-height: 450px; /* 스크롤 영역의 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 생성 */ 

    .Rental-ItemContainer {
      width: 1180px;
      height: 90px;
      position: relative;
      margin-top: 20px;
      border-bottom: 2px solid rgb(202, 159, 18);
  
      .Rental-CheckContainer{
        width: 60px;
        height: 40px;
        position: absolute;
        top: 12px;
        left: 30px;  
      }
      
      .ImageBox{
        width: 100px;
        height: 100px;
        margin-left: 150px;

        img{
          position: absolute;
          width: inherit;
          height: 80px;
        }
      }

      .Rental-TextInner {
        width: 400px;
        height: 100px;
        position: absolute;
        top: 1px;
        left: 260px;
        font-size: 20px;
        
        span:nth-child(1) {
          position: absolute;
          font-size: 20px;
        }

        span:nth-child(2) {
          position: absolute;
          margin-top: 35px;
          font-size: 15px;
        }
      }

      .Rental-PriceInner{
        width: 120px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 370px;
        ///background-color: olivedrab;
        display: table-column;
        font-size: 18px;
        
        span {
          position: absolute;
          //background-color: red;
        }  
      }

      .Rental-RentDay{
        width: 70px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 80px;
        // background-color: olivedrab;
        display: table-column;
        font-size: 18px;

        span{
          width: 50px;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          // background-color: #bff12b;
        }
      }
  }
}