
.headerContainer{
  width: 100%;
  margin: auto;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(202, 159, 18);
  // max-width: 1920px;
  //position: relative;

    .itemsWrapper{
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      // background-color: greenyellow;
      display: flex; 
      position: absolute;
      justify-content: space-between;
    }

  .logoBox {
    width: 150px;
    margin-top: 10px;
    height: 50px;
    display: inline-block;
    position: relative;
    // background-color: aqua;

    img{
      width: 80px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
    
    .searchBox{
      margin-top: 20px;

      input{
        padding-left: 30px;
        border: solid 1px #c6c6c6;
        border-radius: 10px;
        margin: 0 auto;
        display: flex;
        height: 40px;
        width: 400px;
        outline: none;
        left: 0;
        right: 0; 
        // background-color:aqua;
      }
    }

      .Header-box {
        display: flex;
        // vertical-align: top;
        align-items: center;
        gap: 30px;
        height: 30px;
        margin-top: 20px;
        // max-width: 1230px;
        width: 400px;
        background-color: yellow;

        .Header-box__text {      
          color: gray;
          background-color: orange;
          font-weight: bold;  
          width: 100px;
          height: 30px;
          cursor: pointer;


          .Header-box__logout{
            width: inherit;
          }
        }

        .cart {
          position: relative;
          width: 60px;
          height: 60px;
          //background-color: pink;
          left: 130px;
          bottom: 30px;

          .img {
            cursor:auto;
            background-color: olive;
            box-sizing: border-box;
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    
}